img {
    height: auto;
    max-width: 100%;
}
img {
    border: 0;
}
* {
    box-sizing: border-box;
}
img[Attributes Style] {
    width: 720px;
    height: 298px;
}
.main-navigation a, input[type=text], input[type=email], input[type=url], input[type=password], input[type=search], input[type=number], input[type=tel], input[type=range], input[type=date], input[type=month], input[type=week], input[type=time], input[type=datetime], input[type=datetime-local], input[type=color], input[type=text]:focus, input[type=email]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus, input[type=number]:focus, input[type=tel]:focus, input[type=range]:focus, input[type=date]:focus, input[type=month]:focus, input[type=week]:focus, input[type=time]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=color]:focus, a, a:visited, .dropdown-toggle, .widget-title a, .entry-meta a:hover, .entry-content a:hover {
    color: #161616;
}
a, a:visited {
    color: #161616;
    text-decoration: none;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.textcenter-xs {
    text-align: center;
}
.wf-active body {
    font-family: "ff-dagny-web-pro-1","ff-dagny-web-pro-2",sans-serif;
}
body {
    color: #404040;
}
body {
    background: #fff;
    color: #404040;
    font-family: "Lato",sans-serif;
    line-height: 1.625;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
html {
    font-size: 15px;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}

border-bottom-color:
rgb(22, 22, 22)
;
border-bottom-style:
none
;
border-bottom-width:
0px
;
border-image-outset:
0px
;
border-image-repeat:
stretch
;
border-image-slice:
100%
;
border-image-source:
none
;
border-image-width:
1
;
border-left-color:
rgb(22, 22, 22)
;
border-left-style:
none
;
border-left-width:
0px
;
border-right-color:
rgb(22, 22, 22)
;
border-right-style:
none
;
border-right-width:
0px
;
border-top-color:
rgb(22, 22, 22)
;
border-top-style:
none
;
border-top-width:
0px
;
box-sizing:
border-box
;
color:
rgb(22, 22, 22)
;
cursor:
pointer
;
display:
inline
;
font-family:
ff-dagny-web-pro-1, ff-dagny-web-pro-2, sans-serif
;
font-size:
15px
;
height:
297.417px
;
line-height:
24.375px
;
max-width:
100%
;
overflow-wrap:
break-word
;
text-align:
center
;
text-size-adjust:
100%
;
width:
720px
;
-webkit-font-smoothing:
antialiased
;


